body {
  font-family: Century Gothic;
   overflow-x:hidden;
}

/*box-sizing: border-box;*/

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 8%;
  /*-webkit-flex-flow: row wrap;*/
}
#banner {
  justify-content: space-around;
  font-size: 24px;
  height: 100vh;

}
.hello {
  margin:0 10px;
  /*border: 1px solid;*/
  /*flex: 1;*/
  /*font-size: 3.15vw;*/
}
.intro {
  margin:0 10px; 
  /*border: 1px solid;*/

  /*flex: 1;*/
  /*font-size: 38px;*/
}


.button {
  margin: 0 10px;
  /*border: 1px solid;*/

  border-radius: 5px;
  border: none;
  font-size: 18px;
  height: 60px;
  width: 200px;
  background-color: #2F4F4F;
  color: white;
}

/* .sectionContainer {
  display: grid;
  grid-template: 20% 20% 20% 20% 20% / 100%;
} */
.section {
  display: flex;
  flex-direction: row;
  /*border: 1px solid;*/
  flex-wrap: wrap;
}

.sectionHeader {
  text-align: center;
  flex: 3;
  /*border: 1px solid;*/
}



.sectionDetails {
  flex: 5;
  text-align: left;
  line-height: 1.5;
  padding: none;
  /*border: 1px solid;*/
}

.background {
  overflow: hidden;
  font-size: 115%;
  display: block;
  padding: none;
}

#profile-image {
  align-self: center;
  padding-bottom: 5%;
}
.profile-image {
  height: 225px;
  width: 225px;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.skills {
  border:1px dotted;
  display: inline-block;
  margin-right: 75px;
}
.skillList {
  list-style-type: none;
  line-height: 1.75;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #banner {
    font-size: 38px;
  }
  .intro {
    width: 625px;
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #banner {
    font-size:39px;
  }

  .intro {

    width: 650px;
  }
  .intro, .button, .hello {
    margin: 0 25px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #banner {
    font-size:36px;
  }
  .intro {
    width: 600px;
  }
  .intro, .button, .hello {
    margin: 0 25px;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 635px) and (max-width: 1024px)  {
  #banner {
    font-size:35px;

  }
  .intro {
    width: 500px;
  }


}
@media (min-width: 551px) and (max-width: 634px) {
  #banner {
    /*margin: auto;*/
    font-size:34px;

  }


}

@media (min-width: 480px) and (max-width: 550px) {
  #banner {
    /*margin: auto;*/

    font-size:31px;
  }


}


@media (min-width: 320px) and (max-width: 479px) {
  #banner {
    /*margin: auto;*/
    font-size:29px;
  }


  
}