body {
  font-family: Century Gothic;
   overflow-x:hidden;
}

ul {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  color: #1B9CFC;
}
/*box-sizing: border-box;*/
.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 8%;
  /*border: 1px solid;*/
  /*-webkit-flex-flow: row wrap;*/
}
#banner {
  justify-content: space-around;
  font-size: 24px;
  height: 100vh;
}
.backgroundHeader {
  font-family: "Lucida Sans Unicode"; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 33px;
  color: #1B9CFC;
}
.hello {
  margin:0 10px;
}
.intro {
  margin:0 10px; 
}

.button {
  margin: 0 10px;
  border-radius: 5px;
  border: 2px solid #778beb;
  font-size: 18px;
  height: 60px;
  font-weight: bold;
  width: 200px;
  background-color: white;
  /*color: #2F4F4F;*/
  color: #778beb;
}

.section {
  display: flex;
  flex-direction: column;
  /*border: 1px solid;*/
  flex-wrap: wrap;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding: 5% 10%;
}

.sectionHeader {
  /*border:1px solid;*/
  padding-bottom: 10px;
  text-align: left;
  flex: 2;
  color: #1B9CFC;
}

.sectionDetails {
  /*border:1px solid;*/
  flex: 5;
  text-align: left;
  line-height: 1.6;

}

#background {
  background-color: #2f3640;
  height: 100%;
  align-items: center;
  color: white;
  padding: 5% 10%;

}
.background {
  font-size: 100%;
  padding-top: 25px;
}

.tag {
  background-color: #778beb;
  height: 33%;
  /*border: 1px solid #778beb;*/
  padding: 0px 5px;
  border-radius: 10%;
  margin-left: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.profile-image {
  height: 225px;
  width: 225px;
  /* border: 1px solid black; */
  border-radius: 50%;
}

.skills {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
.skills_row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skillsRow {
  display: flex;
  flex: 1;
  flex-direction: row;
}
#topRow {
  border-bottom: 1px solid;
}
#leftQuadrant {
  border-right: 1px solid;
}
.quad {
  flex: 1;
}
.skillsQuadrant {
  flex: 1;

}
.skillList {
  flex: 1;
  padding-right: 2.3em;
  list-style-type: none;
}

.project {
  display: flex; 
  flex-wrap: wrap;
  margin-right: 10px; 
  font-weight: 600; 
  flex-direction: row;
  align-items: center;
}
@media (min-width: 320px)  {
  #banner {
    font-size:28px;
  }
}
@media (min-width: 480px)  {
  #banner {
    font-size:31px;
  }


}
@media (min-width: 551px) {
  #banner {
    font-size:34px;
  }
}

@media (min-width: 635px) {
  #banner {
    font-size:35px;

  }
  .intro {
    width: 500px;
  }


}

@media (min-width: 768px) {
  #banner {
    font-size:36px;
  }
  .intro {
    width: 600px;
  }
  .intro, .button, .hello {
    margin: 0 25px;
  }
  .section {
    flex-direction: row;
    padding: 5% 13% 0 10%;
  }
  .sectionHeader {
    text-align: right;
    padding-bottom: 0px;
  }
  .sectionDetails {
      margin: 0 0 0 50px;
      padding-top: 0px;
  }
  .skills {
    justify-content: space-around;
  }
  
}

@media (min-width: 1025px) {
  #banner {
    font-size:39px;
  }

  .intro {
    width: 650px;
  }
  .intro, .button, .hello {
    margin: 0 25px;
  }
  .sectionDetails {
      margin: 0 0 0 100px;
  }
  .profile-image {
    height: 250px;
    width: 250px;
    /* border: 1px solid black; */
  }
  
}

@media (min-width: 1281px) {
  .intro, .button, .hello {
    margin: 0 0px;
  }

  #banner {
    font-size: 39px;
  }

  .profile-image {
    height: 290px;
    width: 290px;
    /* border: 1px solid black; */
  }

}

@media (min-width: 1440px) {
  .section {
    padding: 5% 17% 5% 13%;
  }
/*  .profile-image {
    height: 300px;
    width: 300px;
    /* border: 1px solid black; */
  }*/
}