body {
  font-family: 'Dosis', sans-serif;
   overflow-x:hidden;
   color: #485460;
}

ul {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  color: #1B9CFC;
}
/*box-sizing: border-box;*/
.container {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 8% 4%;
}

#banner {
  justify-content: space-around;
  font-size: 24px;
  height: 100vh;
}

.hello {
  margin:0 10px;
}
.intro {
  margin:0 10px;
}

/*BANNER*/
.button {
  margin: 0 10px;
  border-radius: 5px;
  border: 2px solid #778beb;
  font-size: 18px;
  height: 60px;
  font-weight: bold;
  width: 200px;
  background-color: white;
  color: #778beb;
}

.button:hover {
  background-color: #778beb;
  color: white;
  cursor: pointer;
}

/*SECTION*/
.section {
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding: 5% 10%;
  margin-bottom: 10%;
}
.section.inview {
  opacity: 1;
}
.sectionHeader {
  padding-bottom: 10px;
  text-align: left;
  flex: 1;
  color: #1B9CFC;
}

.sectionDetails {
  flex: 5;
  text-align: left;
  line-height: 1.6;
  /* border: 1px solid; */

}

/*BACKGROUND SECTION*/
.backgroundHeader {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  color: #1B9CFC;
}

#background {
  background-color: #2f3640;
  height: 100%;
  align-items: center;
  color: white;
  padding: 6%;


}
.background {
  font-size: 15px;
  padding-top: 25px;
  font-weight: 300;
}


#profile-image {
  flex: 2;
}
.profile-image {
  height: 225px;
  width: 225px;
  border-radius: 50%;
}

/*EXPERIENCE*/
.experience {
  /* border: 1px solid; */
  /* margin: 0% 5%; */
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 1.3;


}
.experience-image-container {
  margin: 0 5% 5% 5%;
  display: flex;
  flex: 1;
  border-radius: 15%;

  /* border: 1px solid; */
  justify-content: space-between;
  align-items: center;
}

.experience-image {
  display: flex;
  align-self: start;
  /* flex: 1; */
  /* border: 1px dotted; */
  border-radius: 15%;
  width: 150px;
  height: 100%;

}
.experience-details {
  /* margin-left: 5%; */
  flex: 1;
}
.experience-details h4 {
  color: #0984e3;
  line-height: 1.3;
}
.experience-details h6 {
  color: #6ab04c;
  line-height: 1;
  font-weight: bold;
}
.experience-details p {
  font-size: 14px;
  line-height: 1.5;
}

/*SKILLS*/
.skills {
  font-size: 15px;
  /*line-height: 1.3;*/
  font-weight: lighter;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}

.skillList {
  flex: 1;
  margin-bottom: 20px;
  padding-right: 2.3em;
  list-style-type: none;
}


/*SKILLS QUADRANT*/
.skills_row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skillsRow {
  display: flex;
  flex: 1;
  flex-direction: row;
}
#topRow {
  border-bottom: 1px solid;
}
#leftQuadrant {
  border-right: 1px solid;
}
.quad {
  flex: 1;
}
.skillsQuadrant {
  flex: 1;
}




/*PROJECT SECTION*/

.tag {
  background-color: #778beb;
  height: 33%;
  padding: 1px 5px;
  border-radius: 10%;
  margin-right: 5px;
  margin-bottom: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.projectHeader {
  margin-right: 10px
}
.projectDetails {
  order: 1;
  font-size: 14px;
  /*margin: 0 5%;*/
  flex: 2;
}
.projectDetails.left {
  margin-right: 0%
}
.projectDetails.right {
  margin-left: 0%;
}
.projectTags {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.project {
  opacity: 0;
  transition: opacity 1s;
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;

  align-items: center;
}
.project.inview {
  opacity: 1;
}
.projectImage {
  /*border: 1px solid;*/
  margin-right: 5%;
/*  display: flex;
  flex-direction: column;
  align-items: center;*/
  flex: 3;
  margin-bottom: 10%;
}

.image {
  flex: 3;
  width: 100%;
}




/*FOOTER*/

#footer {
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  color: #1B9CFC;
  padding: 2% 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #EAEAEA;
}

#left {
  order: 1;
  flex: 1;
}
#middle {
  height: 100%;
  /*border: 1px solid;*/

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa {
  height: 40px;
  color: #1B9CFC;
  animation: none;
  text-decoration: none;
  margin:0px 10px;
}





@media (min-width: 320px)  {
  #banner {
    font-size:28px;
  }
}
@media (min-width: 480px)  {
  #banner {
    font-size:31px;
  }


}
@media (min-width: 551px) {
  #banner {
    font-size:34px;
  }
}

@media (min-width: 635px) {
  #banner {
    font-size:35px;

  }
  .intro {
    width: 500px;
  }
  .experience {
    /* border: 1px solid; */
    /* margin: 0% 5%; */
    margin-bottom: 50px;
    flex-direction: row;
  }
  .experience-image-container {
    margin: 0;
    /* display: flex; */
    flex: 1;

    /* border: 1px solid; */
  }
  .experience-image {
    /* flex: 1; */
    align-self: center;
    width: 206px;
    height: 187px;
  }
  .experience-details {
    margin-left: 5%;
    flex: 2;
  }
}

@media (min-width: 768px) {
  #banner {
    font-size:36px;
  }
  .intro {
    width: 600px;
  }
  .intro, .button, .hello {
    margin: 0 25px;
  }

  .project {
    flex-direction: row;
    margin-bottom: 10%;
  }
  .projectDetails {
    order: 0;
  }
  .projectImage {
    margin-bottom: 0;
  }
  .projectDetails.left {
    margin-right: 7%;
  }
  .projectDetails.right {
    margin-left:; 7%;
  }
  #background {
    flex-direction: row;
    padding: 5% 13% 0 10%;
  }
  .background {
    margin: 0 0 0 50px;
    padding-top: 0px;
  }
  .skills {
    justify-content: space-around;
  }
  .image.nibble {
    width: 120%;
  }

}

@media (min-width: 1025px) {
  #banner {
    font-size:39px;
  }

  .intro {
    width: 650px;
  }
  .intro, .button, .hello {
    margin: 0 25px;
  }
  .skills {
    padding-left: 100px;
  }
  .sectionDetails {
      margin: 0 0 0 75px;
  }
  .profile-image {
    height: 250px;
    width: 250px;
  }
  .experience-image {
    height: 250px;
    width: 275px;
  }
  .experience {
    margin: 0% 5%;
    margin-bottom: 50px;
  }
  .section {
    flex-direction: row;
    padding: 5% 13% 0 10%;
  }
  .sectionHeader {
    text-align: right;
    padding-bottom: 0px;
  }
  .sectionDetails {
      margin: 0 0 0 50px;
      padding-top: 0px;
  }

}
@media (min-width: 1100px) {

  #background {
    padding: 4% 14% 4% 14%;
  }


}

@media (min-width: 1281px) {
  .intro, .button, .hello {
    margin: 0 0px;
  }

  #banner {
    font-size: 39px;
  }

  .profile-image {
    height: 290px;
    width: 290px;
    /* border: 1px solid black; */
  }

}

@media (min-width: 1440px) {


  .profile-image {
    height: 325px;
    width: 325px;
  }
  .section {
    padding: 5% 15% 5% 17%;
  }


  .image {
    width: 500px;
  }


}

@media (min-width: 1800px) {
  #background {
    padding: 5% 17% 5% 20%;
    font-size: 16px;
  }
  .background {
    font-size: 17px;
  }
    #projects {
    padding-left: 50px;
  }
  .projectDetails {
    font-size: 16px;
  }
  .tag {
    font-size: 14px;
  }
}
